
<button (click)="loadData()">Load Data</button>
<button (click)="patchData()">Patch Data</button>

<form (ngSubmit)="saveData()" #userForm="ngForm">
  <label>Name</label><br/>
  <input type="text" name="name" #name="ngModel" ngModel required minlength="5"/><br/>
  <div *ngIf="name.touched || name.dirty">
    <span *ngIf="name.errors?.required" style="color: red">Name is required.</span>
    <span *ngIf="name.errors?.minlength" style="color: red">Min 5 char required.</span>
  </div>
  <label>Age</label><br/>
  <input type="text" name="age" #age="ngModel" ngModel required/><br/>

  <label>Email</label><br/>
  <input type="email" name="email" #email="ngModel" ngModel required/><br/>

  <div ngModelGroup="address">
      <label>City</label><br/>
      <input type="text" name="city" #city="ngModel" ngModel required/><br/>

      <label>Pincode</label><br/>
      <input type="text" name="pincode" #pincode="ngModel" ngModel required/><br/>
  </div>

  <input type="submit" value="submit" style="background-color: skyblue"/>
</form>

<p> {{userForm.value | json}} </p>