<form [formGroup]= "userForm">

  <label>
    Name
  </label><br/>

  <input type="text" formControlName="name"/> <br/>

  <label>
    Age
    </label><br/>
  
    <input type="number" formControlName="age"/><br/>
  
    

    <label>
      Email
    </label><br/>
    
      <input type="email" formControlName="email"/><br/>
    
      
      <div formGroupName="address">
          <label>City</label><br/>
          <input type="text" formControlName="city" /><br/>
        

          <label>Pincode</label><br/>
          <input type="text" formControlName="pincode"/><br/>
          <app-show-error [ctrl]="addressObj.get('pincode')" ></app-show-error>

          <!-- <div *ngIf="addressObj.get('pincode').touched || addressObj.get('pincode').dirty">
              <span *ngIf="addressObj.get('pincode').hasError('zipCode')">
                Valid pin code is
  
                 {{addressObj.get('pincode').errors.zipCode.validpincode}}
                {{addressObj.get('pincode').getError('zipCode').validpincode}}
  
              </span>
          </div> -->


      </div>

      <label>
        DOB
      </label><br/>
      <input type="text" appCalendar />  <br/>
    
      <input type="submit" value="submit" style="background-color: skyblue"/>


</form>

<p>{{userForm.value | json}}</p>