<!-- <div class="container">
    <div class="row mb-4 bg-dark p-2">
        <div class="col-md-2 text-white">
            <h3>MyShop</h3>
        </div>
        <div class="col-md-2 offset-md-8">
            <app-currency></app-currency>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-product-list></app-product-list>
        </div>
        <div class="col-md-4">
            <app-cart></app-cart>
        </div>
    </div>
</div> -->

<!-- <app-template-driven></app-template-driven> -->
<!-- <app-model-driven></app-model-driven> -->
<!-- <app-dynamic-forms></app-dynamic-forms> -->

<div class="container-fluid">

    <a routerLink="/products">Products</a>
    <a routerLink="/cart">Cart</a>
    <a routerLink="/test">404</a>
    <router-outlet></router-outlet>
</div>